@use "../../assets/sass/variables" as *;

.button__style {
  border: none;
  background-color: $lavender-floral;
  width: 25%;
  height: 5%;
  font-family: $serif;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
